<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>

<body>
    <h1>Main Page</h1>

    <% if (loggedIn) { %>
        <p>Welcome, you are logged in!</p>
        <form action="/auth/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <p>Welcome, please login or register!</p>
        <a href="/login">Login</a> | <a href="/register">Register</a>
    <% } %>
</body>

</html>
